<h2>Posts <%= link_to("(+)", new_post_path) %></h2>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to(post.title, post_path(post)) %></li>
    <li><%= embed(post.song_url) %></li>
    <li><%= post.moment %></li>
    <% end %>
</ul>
