/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #F0F0F0;
  font-family: 'Work Sans', sans-serif;
  }
h1 {
  display: inline-block;
  font-size: 500%;
  padding-left: 10%;
  position: relative;
  bottom: 10px;
  }
img {
  padding-left: 5%;
  display: inline-block;
  border-radius: 2px;
}
.container > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 23%;
    text-align: center;
    position: relative;
    bottom: 20px;
}
.post {
  margin: auto;
  width: 50%;
  font-family: 'Karla', sans-serif;
  border: solid #000;
  border-width:1px;
  border-radius: 10px;
  padding: 20px;
  background-color: #FFFFE6;
}
.title {
  text-align: center;
}
.posted_when {
  font-size: 10px;
  text-align: center;
}
.youtube {
  margin: 0 auto;
}
p {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
.comment {
  border: solid #000;
  border-width:1px;
  border-radius: 3px;
  background-color: #E6E6FF;
}
.comment_title {
  text-align: center;
}
.comment_content {
  font-weight: bold;
  font-size: 12px;
}
.comment_author {
  font-size: 10px;
}
.comment_posted_when {
  font-size: 8px;
}
