/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F0F0F0;
  font-family: 'Work Sans', sans-serif;
  }
body > .container{
  padding-bottom: -60px;
  }
.col-md-4 {
  text-align: center;
  position: relative;
  bottom: 60px;
}
.menu div{
  background-color: #F5FFFF;
}
h1 {
  color: #F8F8F8;
  font-size: 300%;
  position: relative;
  bottom: 80px;
  font-weight: bold;
  }
.container > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 23%;
    text-align: center;
    position: relative;
    bottom: 20px;
}
.post {
  font-family: 'Karla', sans-serif;
  border-radius: 10px;
  background-color: #FFFFE6;
  padding: 5px;
}
.youtube-player {
  display: block; margin: 0 auto;
}

.title {
  text-align: center;
}
.posted_when {
  font-size: 10px;
  text-align: center;
}
p {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
}
.comment {
  padding: 5px;
  border-radius: 3px;
  background-color: #E6E6FF;
}
.comment_title {
  text-align: center;
}
.comment_content {
  font-weight: bold;
  font-size: 12px;
}
.comment_author {
  font-size: 10px;
}
.comment_posted_when {
  font-size: 8px;
}
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
